$line-height: 40px;

.wrapper {
  ::selection { 
    color: #fff;
    background: #9FBE5A;  
  }
}

// Form tag holds the torn paper border
.formPaper {
  max-width: 600px;
  margin: 0 auto;
  border-left: 30px solid white; 
  border-image-width: 0px 0px 0px 30px;
  transform: translateY(0);
  animation: init 1s ease-in-out forwards;
  
  fieldset {
    position: relative;
    margin: 0;
    padding: 30px 30px $line-height 80px;
    border: none;
    border-radius: 0 20px 20px 0;
    font: 24px 'Shadows Into Light', cursive;
    background: #fff linear-gradient(rgba(0,0,0,.1) 1px, transparent 0) 0 20px / 100% $line-height;
    
    &:after {
      position: absolute; 
      top: 0;
      left: 50px;
      content: '';
      height: 100%;
      width: 1px;
      border-left: double #E08183;
    }
  } 
  
  p {
    margin: 0 0 $line-height 0;
    line-height: $line-height;
    color: #333;
  }

  span {
    position: relative;
    line-height: $line-height;
  }

  button {
    margin-top: $line-height;
    float: right;
    border: none;
    font-family: 'Shadows Into Light', cursive;
    color: #E08183;
    background: transparent;
    cursor: pointer;
    transition: transform 0.25s ease;
    
    &:hover {
      transform: translateX(10px)
    }
  }
}

.form__field {
  display: inline;
  color: #7DB665;
  outline: none;

  &:empty {
    display: inline-block;
    color: #DDD;
  }
  
  // Use a data-attr to replicate a placeholder
  &:empty,
  &:empty:focus {
    &:before {
      content: attr(data-placeholder);
    }
  }
}

.details {
  font-size: 18px;
  color: #E08183;
}

.detailItem {
  display: inline-block;
  margin-right: 10px;
}

.editable {
  border-bottom: 1px dashed #ccc;
  padding: 0 4px;
}

@keyframes init {
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}