// Import fonts at the top of your SCSS file
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

::selection { 
  color: #fff;
  background: #9FBE5A;  
}

body {
  width: 100vw;
  height: 100%; 
  min-height: 100vh;
  padding-bottom: 50px;
  overflow-x: hidden; 
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #05493b, #183619) center / cover no-repeat;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
