@use "../../app/_colors.scss" as c;

.button {
  background-color: c.$accent-green;
  color: c.$dark-green;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.2s ease;

  &:hover:not(:disabled) {
    background-color: c.$light-green;
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  &:disabled {
    background-color: c.$muted-text;
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
  }
}
